/* default styles */

* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
}


/* header styles */

.header-section {
  width: 100%;
  height: 800px;
  background-image: url(../images/banner/banner2.png);
  background-repeat: no-repeat;
 
}

.header-info {
  padding-top: 120px;
  padding-right: 200px;
  padding-left: 645px;
}

.header-title {
  color: #151414;
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  margin-bottom: 24px;

}
.header-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 32px;
  text-align: right;
  line-height: 26px;

}
.button {
  text-align: right;
}
.contact-button {
  width: 160px;
  height: 64px;
  background-color: #F15B22;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 20px;
  border: 0px solid #F15B22;
  border-radius: 5px;
}

/* failures-section styles  */

.failures-section {
  margin: 130px 200px 130px 150px;
  display: flex;

} 

.section-info {
  margin-top: 180px;
  margin-right: 70px;
  margin-left: 90px;
}
.section-title {
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  margin-bottom: 24px;
}

.section-description {
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
margin-bottom: 16px;
}



li {
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
list-style: none;
}

/* my plans section style */

.my-plans {
  margin: 0px 130px 125px;
  text-align: center;
}
.section-title{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 50px;
}

.plans-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.plans-name {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-top: 30px;
  margin-bottom: 16px;
}
.aim {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}

 /* message section styles */
  
.message-section {
  background-image: url(../images/gradient3.png), url(../images/watch.png);
  background-repeat: no-repeat;
  max-width: 100%;
  height: 280px;
  background-position: center;
  margin: 0px 230px 130px;
  border-radius: 8px;

}
.message-box {
  padding: 50px 300px 40px 65px; 
}
.message {
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.call-button {
  width: 160px;
  height: 64px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border-width: 0;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #F15B22;
}

/* footer styles */

.footer {
  display: flex;
  background-color: #151414;
}
.future {
  margin: 130px 200px 130px 230px;
}

.subscribe {
margin: 130px 200px 240px 0px;
}
.footer-title {
  font-weight: 700;
  font-size: 45px;
  color: #F8F8F8;
  margin-bottom: 15px;
}

 .footer-info {
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}

.icons {
  margin-top: 30px;
}

.subscribe-title {
font-weight: 600;
font-size: 25px;
color: #FFFFFF;
margin-bottom: 30px;
}

.email {
width: 325px;
height: 64px;
background-color: #151414;
border: 1px solid #FFFFFF;
border-radius: 8px;
text-align: left;
font-weight: 400;
font-size: 18px;
color: #F3F3F3;
padding-left: 20px;
margin-bottom: 16px;
}

.subscribe-button {
width: 170px;
height: 64px;
background-color: #FFFFFF;
border: 0px solid #FFFFFF;
border-radius: 8px;
font-weight: 600;
font-size: 20px;
text-align: center;
color: #F15B22;


}




